<ion-header>

  <ion-navbar>
    <ion-title>Cambiar Contrase&ntilde;a</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="colorFondo" padding-vertical>
  <form ion-grid fixed no-padding [formGroup]="cambioPassForm"
  (ngSubmit)="cambiarPass()">
    <ion-row justify-content-center padding-bottom>
      <img class="imgRed2 noMostrarG"
        src="../../assets/imgs/logoKoiHT2.png" alt="logoKoiHT2">
      <img class="imgRed noMostrarChico"
        src="../../assets/imgs/logoKoiHT2.png" alt="logoKoiHT2">
    </ion-row>

    <ion-row class="paddingBottomM centrarG">
      <p ion-text color="rosa" padding-left no-margin>
          <b>Completa los campos:</b>
      </p>
    </ion-row>

    <ion-row justify-content-center>
      <ion-list ion-col col-12 col-sm-6 no-margin no-padding>
        <!-- vieja -->
        <ion-item>
          <ion-label floating color="primary">
            <ion-icon name="key"></ion-icon>
            Contrase&ntilde;a
            <span ion-text color="gris">(Actual)</span>
          </ion-label>
          <ion-input type="password" name="passwordO" clearInput="true"
          formControlName="passwordO" required></ion-input>
        </ion-item>
        <!-- Validacion PassO -->
        <ng-container *ngFor="let validation of validation_messages.passwordO" ion-col col-12>
          <ion-item  *ngIf="cambioPassForm.get('passwordO').hasError(validation.type) && (cambioPassForm.get('passwordO').dirty || cambioPassForm.get('passwordO').touched)">
            <p color="danger" ion-text>{{ validation.message }}</p>
          </ion-item>
        </ng-container>
        <div formGroupName="matching_passwords">
          <!-- PassN -->
          <ion-item>
            <ion-label floating color="primary">
              <ion-icon name="key"></ion-icon>
              Nueva Contrase&ntilde;a
            </ion-label>
            <ion-input type="password" name="passwordN" clearInput="true"
            formControlName="passwordN" required></ion-input>
          </ion-item>
          <!-- Validacion PassN -->
          <ng-container *ngFor="let validation of validation_messages.passwordN" ion-col col-12>
            <ion-item  *ngIf="cambioPassForm.get('matching_passwords').get('passwordN').hasError(validation.type) && (cambioPassForm.get('matching_passwords').get('passwordN').dirty || cambioPassForm.get('matching_passwords').get('passwordN').touched)">
              <p color="danger" ion-text>{{ validation.message }}</p>
            </ion-item>
          </ng-container>
          <!-- PassNC Confirma -->
          <ion-item>
            <ion-label floating color="primary">
              <ion-icon name="key"></ion-icon>
              Nueva Contrase&ntilde;a
              <span ion-text color="gris">(Confirma)</span>
            </ion-label>
            <ion-input type="password" name="passwordNC" clearInput="true"
            formControlName="passwordNC" required></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.passwordNC" ion-col col-12>
            <ion-item  *ngIf="cambioPassForm.get('matching_passwords').get('passwordNC').hasError(validation.type) && (cambioPassForm.get('matching_passwords').get('passwordNC').dirty || cambioPassForm.get('matching_passwords').get('passwordNC').touched)">
              <p color="danger" ion-text>{{ validation.message }}</p>
            </ion-item>
          </ng-container>

          <ng-container *ngFor="let validation of validation_messages.matching_passwords" ion-col col-12 >
            <ion-item  *ngIf="cambioPassForm.get('matching_passwords').hasError(validation.type) && (cambioPassForm.get('matching_passwords').get('passwordNC').dirty || cambioPassForm.get('matching_passwords').get('passwordNC').touched)">
              <p color="danger" ion-text>{{ validation.message }}</p>
            </ion-item>
          </ng-container>
        </div>


      </ion-list>
    </ion-row>

    <ion-row justify-content-center padding-horizontal padding-top>
      <div ion-col col-12  col-sm-6 class="colorFondo">
        <button type="submit" color="verde" ion-button
          block full icon-left class="sombra">
            <ion-icon name="create"></ion-icon>
            Cambiar
        </button>
      </div>
    </ion-row>
  </form>
</ion-content>
<!-- Footer -->
<ion-footer>
  <ion-grid no-padding>
    <ion-row no-padding>
      <div ion-col col-12 text-center no-padding>
        <small>Powered by <strong>Devstar Novatech.</strong></small>
      </div>
    </ion-row>
  </ion-grid>
</ion-footer>


